<div class="content-container">
    <div class="map">
    </div>

    <form [formGroup]="cepForm" (keyup.enter)="callCep()">
        <div class="city">
            <label for="city-input">Cidade</label>
            <input id="city-input" formControlName="city" type="text" placeholder="{{cepData?.city}}">
        </div>
        <div class="state">
            <label for="state-input">Estado</label>
            <input id="state-input" formControlName="state" type="text" placeholder="{{cepData?.state}}">
        </div>
    </form>
</div>

